.ico-act-default,.tip-arr,.tip-rc-l,.tip-rc-r,.g-addr .arr,.g-menu .arr,.btn,.btn span,.btn .arr,.gMtable,.core,.core a,.gSidebar .cnav li,.fn-bg
	{
	background-image: url(images/bg.png);
	background-repeat: no-repeat
}

.gMtable {
	background-repeat: repeat-y
}

.g-probar span,.gRead-gg,.gWel-tab .tabs,.gCmp-side .tabs li,.g-toolbar,.gFToptd,.g-table-comm thead tr,.fn-bgx
	{
	background-image: url(images/bgx.png);
	background-repeat: repeat-x
}

.ico-loading {
	background-image: url(images/loading_16x16.gif);
	background-repeat: no-repeat
}

.ico-loading-big {
	background-image: url(images/loading.gif);
	background-repeat: no-repeat
}

.ico-mail-checking {
	background-image: url(images/checkmail.gif);
	background-repeat: no-repeat
}

.txt-link,a {
	color: #158144
}

.gTop .links .t-color1 {
	color: #D90000
}

.gTop .links .t-color2 {
	color: #16960E
}

.txt-c-match,.gIbx .g-table-comm b {
	color: #16960E
}

.btn-dft-gl,.btn-dft-gc,.btn-dft-gr {
	border-color: #969696
}

.btn-dft-gl-hover,.btn-dft-gc-hover,.btn-dft-gr-hover {
	border-color: #656565
}

.btn-dft-gl-hover-txt,.btn-dft-gc-hover-txt,.btn-dft-gr-hover-txt {
	border-left-color: #656565
}

.btn-dft-gl-hover-arr,.btn-dft-gc-hover-arr,.btn-dft-gr-hover-arr {
	border-right-color: #656565
}

.btn-dft-gl-active,.btn-dft-gc-active,.btn-dft-gr-active {
	border-color: #6A6A6A
}

.btn-dft-gl-active-txt,.btn-dft-gc-active-txt,.btn-dft-gr-active-txt {
	border-left-color: #6A6A6A
}

.btn-dft-gl-active-arr,.btn-dft-gc-active-arr,.btn-dft-gr-active-arr {
	border-right-color: #6A6A6A
}

.btn-sml {
	border-color: #6EBD83
}

.bg-main-1 {
	background-color: #6BAE6C
}

.bg-main-2 {
	background-color: #136D39
}

.gRead-dialog .gRead-reply,.g-box-hd,.gCmp-att .attlist,.bg-side {
	background-color: #D0EDD0
}

.gWel-minibox:hover,.gCmp-sndr .showhide-cc,.g-addr-hover,.gOpt-qm-sidebar ul li,.gOpt-qm-sidebar ul li strong,.bg-flash,.tip-normal,.gIbx-tablayout .stick,.bg-cont
	{
	background-color: #F0F8F0
}

.bg-highlight {
	background-color: #D0EDD0
}

.gSidebar .cnav li.over,.g-AT-inner .hd,.gCnta-selected ul li,.content-side-mini .cont .tit,.bg-shadow
	{
	background-color: #D0EDD0
}

.g-menu {
	border-color: #D0EDD0
}

.gRead-dialog .dialog-hide,.gRead-dialog .dialog-new .gRead-info,.gRead-dialog .dialog-hover .gRead-info,.gCmp-side .ltrpaper .active,.g-cntalist .srch .result a:hover,.gSys-tips-alert,.gCmp-sendtime,.bg-tips
	{
	background-color: #FFFFE1
}

.gWel-safe-high:hover,.g-file-cmplt,.gSys-tips-succ,.tip-popup-succ,.bg-succ
	{
	background-color: #F1FFE3
}

.gWel-safe-low:hover,.g-file-err,.gSys-tips-err,.tip-popup-err,.g-addrs .g-addr-err-hover,.bg-err
	{
	background-color: #FFEAEA
}

.g-probar span,.bg-pro {
	background-color: #A5DD3D
}

.bg-pro-alert {
	background-color: #D90000
}

.g-addrs .g-addr-active,.g-menu li a:hover,.g-menu li a.hover,.g-menu li a:hover span,.g-menu li a.hover span,.g-menu-auto .hover,.g-cntalist .grpmbr a:hover,.gIbx-mbox-active,.gCnta-SB-wrap ul li a:hover,.gCnta-SB-wrap ul li.on a,.bg-hover
	{
	background-color: #50a05b;
	color: #fff !important
}

.ln-c-dark {
	border-color: #50A05B
}

.ln-c-mid {
	border-color: #6EBD83
}

.ln-c-light {
	border-color: #D0EDD0
}

.gRead-reply .input,.ipt-t-dft,.gWel-tab .tabs,.gWel-tab .tabs li,.gWel-tab .pans,.gCmp-side .tabs li,.gCmp-side .pans,.gOpt-qm-sidebar ul li,.bdr-c-dark
	{
	border-color: #50A05B
}

.simletter,.g-box,.gRead-dialog .dialog,.tip-normal,.bdr-c-mid {
	border-color: #6EBD83
}

.g-imgbar,.gSys-inner-savecnta .moveto,.gSys-inner-addpic .tabs li,.gSys-inner-addpic .pans,.g-addr-move,.gWel-minibox:hover,.gCmp-side .ltrpaper .active,.g-cntalist .srch li,.tip-popup,.g-file,.gCmp-sendtime,.g-addrs .g-addr-hover,.bdr-c-light
	{
	border-color: #D0EDD0
}

.g-addrs .g-addr-err-hover,.tip-popup-err,.bdr-c-err {
	border-color: #D2AEAE
}

.tip-popup-succ,.bdr-c-succ {
	border-color: #A8BD93
}

.g-menu-inner,.g-AT-inner,.g-AT-inner .hd,.g-AT-inner .hd li {
	border-color: #6EBD83
}

.g-table-comm .over,.g-select-box .over {
	background-color: #FFFFE1
}

.g-table-comm .chked,.g-select-box .chked {
	background-color: #FFFFCA
}

.theme-tr {
	background: url(images/t_tr.jpg) no-repeat top right
}

.musicLst .playing,.musicLst .gp .clsFd,.musicLst .gp .opnFd,.musicLst,.gTop .music .screen,.gTop .music .mbar,.gTop .music .mbar_0,.gTop .music .mbar_2,.gTop .music .btnMbar
	{
	background-image:
		url(http://mimg.126.net/musicbox/js35/skin_163blue/music_mini.gif);
	background-repeat: no-repeat
}

.gTop .links {
	border-bottom-color: #CBD5C4
}

.gSidebar .cnav a {
	color: #000
}

.gSidebar .ln-c-mid {
	border-top-color: #BDD0B6
} 

.gSb-cnav-tit .ext,.gSb-cnav-tit .ext a {
	color: #8ECB9E
}

.g-rc .rc {
	border-color: #A9D8B6
}



/*************************************************************** app ***************************************************************/
#LoadingPanel {
	background-color:#F0F8F0;
}

.theme-bor-col {
	border-color: #50A05B;
}

.theme-bg-col {
	background-color:#F0F8F0;
}

.theme-c {
	color:#158144;
}

#IcoLoading {
	background-image: url(images/loading.gif);
}

/** ********** portal/main.jsp **********/	
.wxPortlet .wxPortletHeader {
	border-color:#50A05B;
	background-image:url(images/bgx.png);
	background-repeat:repeat-x;
}
.wxPortlet .wxPortletBody {
	border-color:#50A05B;
}

.wpxTools {
	background-image:url("images/bgx.png");	
}

.wpxTools a.button,
.wpxTools a.button span,
.wpxTools a.button .arr {
	background-image:url("images/bg.png");
	background-repeat:no-repeat;
}

.wpxTable thead tr{
	background-image:url("images/bgx.png");
}

.wpxTitle .search-box #searchBtn {
	background-image:url("images/bg.png");
	background-repeat:no-repeat;
}

.Tab .TabHeader,
#iTab .TabHeader {
	background-image:url("images/bgx.png");
}

.btn-mailinfo,
.btn-mailinfo-off {
	background-image:url("images/bg.png");
}

#fastRestore .inputBody .btn-big {
	background-image:url("images/bg.png");
}


.wpxTitle .search-box .search-input {
	border-color:#50A05B;
}

.wpxTable tbody tr {
	background-color:#fefefe;
}

.wpxTable tbody td.dateSep { 
	border-color:#6EBD83;
	color:#4B4B4B;
}

.wpxTable tbody tr.hover td{
	background-color:#FFFFE1;
}

.wpxTable tbody tr.selected {
	background-color:#FFFFCA;
}

#formTable input,
#formTable textarea {
	border-color: #50A05B;
}

#iTab {
	border-color:  #50A05B;
}

#iTab .TabHeader div {
	border-color:  #50A05B;
}

#iTab .TabHeader #personAddr {
	border-right:1px solid #50A05B;
}

.sidebar {
	background-color: #F0F8F0;
	border-color: #50A05B;
}
.sidebar ul li a.on,
.sidebar ul li a.over {
	background-color:#50A05B;
	color:#FFFFFF !important;
}

#pubAddrTreeBar {
	background-color: #F0F8F0;
	border-color: #50A05B;
}
ul.tree li a.selected {
	background-color:#50A05B;
	color:#FFFFFF !important;
}

#tos-box .addrbody ul li {
	border-color: #50A05B;
	background-color:#F0F8F0;
}