.title_BarImg[class]{
	background: url("../_img/email.png") no-repeat;
}
#title_Font1{
	color:#ffffff;
	font-weight: bolder;
}
#title_Font2{
	color:#ffffff;
}
#help_BTN {
	background: url("../_img/help_BTN.gif");
	border: 0px;
	margin-right: 10px;
	margin-left: 10px;
	width:18px;
}

.pgHeadBlock {
	height: 41px;
	background-color:#e49222;
	margin-left:10px;
	margin-right:9px;
}


.SDC_BarPanel .SDC_BarPanel_Bar {
	background:url();
	background-color:#e49222;
}

.SDC_DataTable {
	border-top: 4px solid #e49222;
	border-left: 1px solid #f3f3ec;
	border-right: 2px solid #e49222;
	border-bottom: 2px solid #e49222;
}



#sendBatchTable tr{
	line-height: 162%;
}
#sendBatchTable #title {
	width: 100%;
	line-height: 162%;
	height: 25px;
}